/common css start/
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
 .container{
     width: 1170px;
     margin: 0 auto;
    }
.row{
    display: flex;
    flex-wrap: wrap;
}
//COMMON CSS END/  
/NAV css start/
nav{
    background-color: #02918c;
}
nav > .container > .row{
    align-items: center;
}
nav .logo{
    width: 25%;
}
nav .menu{
    width: 75%;
    text-align: right;
}
nav .menu ul li{
    display: inline-block;
    margin: 12px 0;
}
nav .menu ul li a{
    display: inline-block;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 25px;
    transition: all .2s linear;
    border-radius: 25px;


}
nav .menu ul li:hover a{
    background-color: #cfc91f;
}
//NAV css END/
/BAnner section css start/
#banner{
    height: 730px;
    background: url(all imges/banner-01.jpg);
    background: cover;

}

//BANNER sectiom css END/
